<!DOCTYPE html>
{% extends 'base.html'%}
{% block body_block %}
<div class="jumbotron">
   <div class="container">
      <h1>Welocme To Rahmat Exams</h1>
      <h2>Rules:</h2>
      <ul>
         <li>Rule-1: You Should write only one exam perday</li>
         <li>Rule-2: You have only 3 hours for submiting the paper</li>
         <li>Rule-3: You have to use black pen only</li>
         <li>Rule-4: After 9 am you won't able to enterd in class</li>
         <li>Rule-5: Compulsory you have to maintain discipline in the Examination room</li>
      </ul>
   </div>
</div>
{% endblock %}